.skeleton {
  background: linear-gradient(
    90deg,
    var(--bg-tertiary) 0%,
    var(--bg-elevated) 50%,
    var(--bg-tertiary) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
  border-radius: var(--radius-md);
}
.skeleton-text {
  height: 1em;
  margin-bottom: 0.5em;
}
.skeleton-title {
  height: 2em;
  width: 60%;
  margin-bottom: 1em;
}
.skeleton-card {
  height: 200px;
  border-radius: var(--radius-xl);
}


