@import url("styles/legacy/01-prelude.css");
@import url("styles/legacy/02-root-variables.css");
@import url("styles/legacy/03-global-reset-base-styles.css");
@import url("styles/legacy/04-animated-background.css");
@import url("styles/legacy/05-title-bar.css");
@import url("styles/legacy/06-icon-buttons.css");
@import url("styles/legacy/07-language-selector.css");
@import url("styles/legacy/08-window-controls.css");
@import url("styles/legacy/09-content-area.css");
@import url("styles/legacy/10-view-system.css");
@import url("styles/legacy/11-home-view.css");
@import url("styles/legacy/12-news-grid.css");
@import url("styles/legacy/13-mods-view.css");
@import url("styles/legacy/14-search-bar.css");
@import url("styles/legacy/15-mods-grid.css");
@import url("styles/legacy/16-bottom-bar.css");
@import url("styles/legacy/17-center-status.css");
@import url("styles/legacy/18-version-switcher.css");
@import url("styles/legacy/19-action-buttons.css");
@import url("styles/legacy/20-skeleton-loaders.css");
@import url("styles/legacy/21-tooltips.css");
@import url("styles/legacy/22-notification-badges.css");
@import url("styles/legacy/23-accessibility.css");
@import url("styles/legacy/24-focus-visible.css");
@import url("styles/legacy/25-context-menu.css");
@import url("styles/legacy/26-loader-states.css");
@import url("styles/legacy/27-empty-states.css");
@import url("styles/legacy/28-view-styles.css");
@import url("styles/legacy/29-view-tabs.css");
@import url("styles/legacy/30-search-box.css");
@import url("styles/legacy/31-control-buttons.css");
@import url("styles/legacy/32-modern-switch.css");
@import url("styles/legacy/33-settings-page.css");
@import url("styles/legacy/34-title-bar.css");
@import url("styles/legacy/35-content-area.css");
@import url("styles/legacy/36-hero-section.css");
@import url("styles/legacy/37-news-section.css");
@import url("styles/legacy/38-mods-view.css");
@import url("styles/legacy/39-loading-states.css");
@import url("styles/legacy/40-modal-system.css");
@import url("styles/legacy/41-settings-modal.css");
@import url("styles/legacy/42-onboarding.css");
@import url("styles/legacy/43-mod-modal.css");
@import url("styles/legacy/44-dialog.css");
@import url("styles/legacy/45-responsive.css");
@import url("styles/legacy/46-utility-classes.css");
@import url("styles/legacy/47-animations.css");
@import url("styles/legacy/48-modal-system.css");
@import url("styles/legacy/49-settings-modal.css");
@import url("styles/legacy/50-switches-inputs.css");
@import url("styles/legacy/51-buttons.css");
@import url("styles/legacy/52-animations.css");
@import url("styles/legacy/53-loader.css");
@import url("styles/legacy/54-utilities.css");
@import url("styles/legacy/55-responsive.css");
@import url("styles/legacy/56-battly-home-redesign.css");


